@media (max-width : 380px) {

    html {
        margin: 0;
        padding: 0;

    }
    header,
    main,
    footer {
        width:100%;

    }

    h1 {
        width:100%;
        padding: 0;
        margin: 0;
        text-align: center;
        padding-top: 1em;
    }
    nav {
        display: block;
        padding-bottom: 2em;
    }
    li {
        display:block;
        text-align: center;
        padding-top: 1em;
    }
    img{
        width: 50px;
        height: 50px;
    }
    figure {
        margin: 0;
    }
    div,
    h2,
    p,
    #nulla p,
    footer p {
        margin: 0;
        width: 100%;
    }
}
