@media (max-width : 380px) {

    html {
        margin: 0;
        padding: 0;

    }
    header,
    main,
    footer {
        width:100%;

    }

    h1 {
        width:100%;
        padding: 0;
        margin: 0;
        text-align: center;
        padding-top: 0.5em;
    }
    nav {
        display: block;
        padding-bottom: 2em;
    }
    li {
        display:block;
        text-align: center;
        padding-top: 1em;
        padding-left: 0;
    }
    img{
        width: 100%;
        height: 100%;
    }
    figure {
        width: 30%;
        height: 30%;
        margin: 0;
    }
    div,
    h2,
    p,
    #nulla p,
    footer p {
        margin: auto;
        width: 90%;

    }
}
