html {
    background-color: black;
    margin: 0;
}
body {
    background-color: white;
    font-family: "News Cycle", sans-serif;
    font-size: 17px;
}
header,
main,
footer {
    width: 1000px;
    margin: auto;
}
header {
    background-color: #ededed;
}
h1 {
    padding-left: 1em;
    display: inline-block;
    color: #2e434a;
    width: %;
    font-size: 55px;
}
nav{
    display: inline-block;

}
ul{
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    padding-left: 1em;
}
a {
    text-decoration: none;
    color: #2e434a;
}

#etiam {
    background-image: url('../images/banner.png');
    background-attachment: fixed;
    background-size: cover;
    background-color: #00ba63;
    text-align: center;
    color: white;
    padding: 3em 0;
}
figure {
    display: inline-block;
    margin: 1em;

}
img {
    border-radius: 50%;

}

h2 {
    margin: 0;
    padding-top: 2em;
    font-size: 22px;
}

p {
    padding-top: 2em;
}

button {
    width: 260px;
    height: 70px;
    background-color: #2c414a;
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    margin-top: 2em;
}


.colorlink {
    color: #27AE61;
}
a:hover {
    color: #27AE61;
}
#nulla {
    text-align: center;
    margin:0;
    background-color: #ededed;
}
#nulla p {
    color: #656565;
}
#nulla button {
    background-color: #00bb63;
    margin-bottom: 3em;
}
#fusce {
    background-color: #00bb63;
    color: white;
    text-align: center;
}
#fusce a {
    text-decoration:underline;
    color: white;
}
#fusce button {
    background-color: white;
    color: #00bb63;
    margin-bottom: 3em;
}
footer {
    text-align: center;
    color: #656565;
    background-color: #ededed;

}
footer p {
    margin: 0;
    padding: 2em 0;
}
span {
    color: #2b3f48;
}
