html {
    background-color: black;
    margin: 0;
}
body {
    width:1000px;
    background-color: white;
    margin: auto;
}
header {
    background-color: #ededed;
}
h1 {
    padding-left: 2em;
    display: inline-block;
    color: #2e434a;
    width: 25%;
}
nav {
    display: inline-block;

}
li{
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    padding-left: 1em;
}
a {
    text-decoration: none;
    color: #2e434a;
}
