@media screen and (min-width : 380px) and (max-width : 999px){

    html {
        margin: 0;
        padding: 0;
    }
    header,
    main,
    footer {
        width:100%;
    }

    h1 {
        width:100%;
        padding: 0;
        margin: 0;
        text-align: center;
        padding-top: 1em;
    }
    nav {
        display: block;
        padding: 1em 0;
        text-align: center;
        width: 100%;

    }
    li {
        text-align: center;
        padding-left: 10px;
        padding-top: 1em;
    }
    img{
        width: 70%;
        height: 70%;
    }
    figure {
        width: 30%;
        height: 30%;
        margin: 0;
    }

    div,
    h2,
    p,
    #nulla p,
    footer p {
        margin: auto;
        width: 100%;
    }
}
